{{ define "todo" }}
    <div id="todo-{{.ID}}">
        <div>
            <div class="columns is-vcentered is-mobile is-gapless">
                <div class="column is-10-desktop is-9-mobile">
                    <div class="box mt-2 is-clickable"
                         data-action="click->glv#navigate"
                         data-glv-route-param="/samples/live/multi/todos/{{.ID}}/edit">
                        {{.Text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}