{{ define "toolbar" }}
    <div id="toolbar" class="field has-addons my-4">
        <p class="control">
        <div class="select is-primary">
            <select name="order"
                    data-action="glv#input"
                    data-glv-change-request-id-param="list"
                    data-glv-action-param="update"
                    data-glv-target-param="todos"
                    data-glv-template-param="todos"
                    data-glv-limit-param="{{.limit}}"
                    data-glv-offset-param="{{.offset}}">
                <option value="desc" {{if eq .order "desc"}}selected{{end}}>Newest</option>
                <option value="asc" {{if eq .order "asc"}}selected{{end}}>Oldest</option>
            </select>
        </div>
        </p>
        <p class="control mx-2">
            <button class="button"
                    data-action="glv#change"
                    data-glv-change-request-id-param="list"
                    data-glv-action-param="update"
                    data-glv-target-param="todos"
                    data-glv-template-param="todos"
                    data-glv-limit-param="{{.limit}}"
                    data-glv-offset-param="{{.prev}}"
                    {{if not .prev_enabled}}disabled{{end}}>
                                  <span class="icon is-small">
                                    <i class="fas fa-arrow-left"></i>
                                  </span>
                <span>Previous</span>
            </button>
        </p>
        <p class="control">
            <button class="button"
                    data-action="glv#change"
                    data-glv-change-request-id-param="list"
                    data-glv-action-param="update"
                    data-glv-target-param="todos"
                    data-glv-template-param="todos"
                    data-glv-limit-param="{{.limit}}"
                    data-glv-offset-param="{{.next}}"
                    {{if not .next}}disabled{{end}}>
                              <span class="icon is-small">
                                <i class="fas fa-arrow-right"></i>
                              </span>
                <span>Next</span>
            </button>
        </p>
    </div>
{{ end }}