{{define "content"}}

List of sample views

<div class="content">
    <ul>
        <li><a href="/samples/sidemenu">Side Menu Navigation using stimulus</a></li>
        <li><a href="/samples/todos">Todos using http/template & turbo-frame: Single Page</a></li>
        <li><a href="/samples/todos_multi">Todos using http/template & turbo-frame: Multiple Page</a></li>
        <li><a href="/samples/live/todos">Todos using http/template, turbo-streams & websocket: Single Page</a></li>
        <li><a href="/samples/live/multi/todos">Todos using http/template, turbo-streams & websocket: Multi Page</a></li>
        <li><a href="/samples/svelte">Svelte simple example</a></li>
        <li><a href="/samples/svelte_todos">Svelte todos over http</a></li>
        <li><a href="/samples/svelte_ws_todos">Svelte todos over websocket & jsonrpc</a></li>
        <li><a href="/samples/svelte_ws2_todos">Svelte todos over websocket & jsonrpc2: Single Page</a></li>
        <li><a href="/samples/svelte_ws2_todos_multi">Svelte todos over websocket & jsonrpc2: Multiple Page</a></li>
    </ul>
</div>
{{end}}