# fly.toml file generated for gomodest-template on 2021-02-28T00:16:38+01:00

app = "gomodest-template"

kill_signal = "SIGINT"
kill_timeout = 5

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = "80"

  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"

  [[services.tcp_checks]]
    grace_period = "30s"
    interval = "10s"
    restart_limit = 5
    timeout = "2s"
