{{define "content"}}
    <a href="/samples"> < Back</a>
    {{ template "glv-error" .}}
    {{ template "glv-flash" .}}
    <div class="columns is-mobile is-centered">
        <div data-controller="glv"
             data-glv-change-request-id-value="todos/list"
             data-glv-action-value="replace"
             data-glv-target-value="todos"
             data-glv-content-value="todos"
             data-glv-params-value='{"x": 1}'
             class="column is-half-desktop">
            {{ template "new_todo" .}}
            <div id="todos" data-controller="glv-list">
                {{ template "toolbar" .}}
                {{ template "todos" .}}
            </div>
        </div>
    </div>
{{end}}