{{define "content"}}
    <a href="/samples"> < Back</a>
    {{ template "gh-error" .}}
    <div class="columns is-mobile is-centered">
        <div data-controller="gh"
             class="column is-half-desktop">
            {{ template "new_todo" .}}
            <div id="todos" data-controller="gh-list">
                <div class="field has-addons my-4">
                    <p class="control">
                        <div class="select is-primary">
                            <select value="desc" data-action="gh-list#order">
                                <option value="desc">Newest</option>
                                <option value="asc">Oldest</option>
                            </select>
                        </div>
                    </p>
                    <p class="control mx-2">
                        <button class="button">
                                  <span class="icon is-small">
                                    <i class="fas fa-arrow-left"></i>
                                  </span>
                            <span>Previous</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button">
                              <span class="icon is-small">
                                <i class="fas fa-arrow-right"></i>
                              </span>
                            <span>Next</span>
                        </button>
                    </p>
                </div>
                {{ template "todos" .}}
            </div>
        </div>
    </div>
{{end}}