{{ define "new_todo" }}
    <div id="new_todo">
        <form data-action="gh#submit"
              data-gh-event-id-param="todos/insert"
              data-gh-action-param="append"
              data-gh-target-param="todos"
              data-gh-content-param="todo">
            <div class="field columns">
                <div class="control column is-10-desktop is-10-mobile">
                    <input class="input"
                           name="text"
                           type="text"
                           placeholder="A new todo"
                           {{with .loading}}disabled{{end}}>
                </div>
                <div class="control column is-2-desktop is-2-mobile">
                    <button type="submit"
                            class="button is-primary {{with .loading}}is-loading{{end}}">
                                <span class="icon">
                                  <i class="fas fa-plus"></i>
                                </span>
                        <span>New</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{{ end }}