{{ define "todo" }}
    <div id="todo-{{.ID}}"
         data-controller="todo-mode">
        <div data-controller="hover-hidden" data-todo-mode-target="view">
            <div class="columns is-vcentered is-mobile is-gapless">
                <div class="column is-10-desktop is-9-mobile">
                    <div class="box mt-2">
                        {{.Text}}
                    </div>
                </div>
                <div class="column is-hidden is-2-desktop is-3-mobile"
                     data-hover-hidden-target="tools"
                     style="text-align:right;">
                    <button class="button is-text is-small"
                            data-action="click->todo-mode#edit">
                            <span class="icon">
                                  <i class="fas fa-edit"></i>
                            </span>
                    </button>
                    <button class="button is-text  is-small"
                            data-action="click->todo-mode#delete">
                            <span class="icon">
                                  <i class="fas fa-trash"></i>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="box is-hidden" data-todo-mode-target="edit">
            <form data-action="glv#submit"
                  data-glv-change-request-id-param="update"
                  data-glv-action-param="update"
                  data-glv-target-param="todo-{{.ID}}"
                  data-glv-template-param="todo"
                  data-glv-id-param="{{.ID}}">
                <div class="field columns is-vcentered is-mobile">
                    <div class="control column is-10-desktop is-9-mobile">
                        <input class="input"
                               name="Text"
                               type="text"
                               value="{{.Text}}">
                    </div>
                    <div class="control column is-2-desktop is-3-mobile">
                        <button type="submit"
                                class="button is-primary is-small">
                            <span class="icon">
                              <i class="fas fa-check"></i>
                            </span>
                        </button>
                        <button type="button"
                                class="button is-primary is-small"
                                data-action="click->todo-mode#view">
                                <span class="icon">
                                  <i class="fas fa-window-close"></i>
                                </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="box is-hidden" data-todo-mode-target="delete">
            <div class="field columns is-vcentered is-mobile">
                <div class="control column is-10-desktop is-9-mobile">
                    <p class="message py-2 px-3 is-danger">Are you sure ?</p>
                </div>
                <div class="control column is-2-desktop is-3-mobile">
                    <button type="button"
                            class="button is-primary is-small"
                            data-action="click->glv#change"
                            data-glv-change-request-id-param="delete"
                            data-glv-action-param="update"
                            data-glv-target-param="todos"
                            data-glv-template-param="todos"
                            data-glv-id-param="{{.ID}}">
                                <span class="icon">
                                  <i class="fas fa-check"></i>
                                </span>
                    </button>
                    <button type="button"
                            class="button is-primary is-small"
                            data-action="click->todo-mode#view">
                                <span class="icon">
                                  <i class="fas fa-window-close"></i>
                                </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ end }}